.container_cebd1c .slider_cebd1c > svg > path, .container_cebd1c .slider_cebd1c > rect {
    fill: white !important;
}
.container_cebd1c .slider_cebd1c {
    margin-top: -2px;
    margin-left: -4px;
}
.container_cebd1c.checked_cebd1c .slider_cebd1c {
    margin-left: 0;
}
.container_cebd1c.checked_cebd1c .slider_cebd1c > svg > path, .container_cebd1c.checked_cebd1c .slider_cebd1c > rect {
    fill: var(--brand-experiment-300) !important;
}
.container_cebd1c:has(.slider_cebd1c) {
    height: 14px;
    width: 28px !important;
}
.container_cebd1c.checked_cebd1c:has(.slider_cebd1c) {
    background-color: var(--brand-experiment) !important;
}
