/* Chat UI */
.tutorialContainer__1f388 {
  margin-top: 6px;
}
.resizeHandle__01ae2 {
  width: 0px;
}
.container__133bf,
.container-36u7Lw,
.chat_f75fb0,
.pageWrapper_a3a4ce,
.container__808a1,
.main_c08b38,
.applicationStore_f07d62,
.containerSidenav_dc2e0e,
.shop__6db1d,
.container__49668,
.container__01ae2 {
  border-radius: var(--radius);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 5px;
}
.sidebar_c48ade,
.container__01ae2 {
  border-radius: var(--radius) !important; /* Fix sidebar not rounded on windows platform */
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px !important;
  margin-left: 5px;
}
.wrapper_ef3116 {
  border-radius: var(--radius);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 10px;
  background-color: var(--background-secondary);
}
.channelChatWrapper_cb9592 {
  border-radius: var(--radius);
  margin-top: -10px;
  margin-bottom: -10px;
  margin-right: -5px;
  margin-left: 5px;
}
.container__0be77 {
  border-radius: var(--radius);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 10px;
}
.answerInner__4c520 {
  border-radius: var(--radius);
  margin-right: 5px;
  margin-left: 10px;
}
.votePercentageBar__4c520 {
  border-radius: var(--radius);
}
.chat_f75fb0 .threadSidebarOpen_f75fb0 {
  border-radius: var(--radius);
  margin-right: 5px;
}

/* User Panel (Optional) */
.container__2637a,
.privateChannels__35e86 {
  border-radius: var(--radius);
  margin-bottom: 5px;
}
.sidebar_c48ade {
  background: unset;
}

/* Text Area Reply Fix */
.theme-dark.custom-theme-background .channelTextArea_f75fb0 {
  background: var(--bg-overlay-1, var(--background-secondary)) !important;
}
.theme-light.custom-theme-background .channelTextArea_f75fb0 {
  background: var(--bg-overlay-2, var(--background-secondary)) !important;
}
.channelTextArea_f75fb0 {
  background: var(--background-secondary) !important;
}

/* BetterDiscord */
.bd-select,
.bd-addon-list .bd-addon-card,
.bd-search-wrapper,
.bd-select-transparent,
.bd-notice,
.bd-notice:first-child,
.bd-addon-error,
.bd-tab-item,
.bd-number-input,
.bd-changelog-modal video,
.bd-changelog-modal img,
.monaco-editor .overflow-guard,
.qwert-toast,
.toast-g4bfgI,
.card-x5zW6z,
.coverBadge-I41ZIY {
  border-radius: var(--radius);
}
.bd-notice {
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
}
#bd-editor-controls {
  border-radius: var(--radius) var(--radius) 0px 0px;
}
.monaco-editor {
  border-radius: 0px 0px var(--radius) var(--radius);
}
#floating-editor-window {
  border-radius: var(--radius);
}
.floating-window #bd-editor-controls,
.floating-window .monaco-editor {
  border-radius: 0px;
}
.content-Pph8t6:not(.hidden_ef3116) {
  margin-left: 5px;
}
.platform-osx .content-Pph8t6:not(.hidden_ef3116) {
  margin-top: 10px;
}
.content-Pph8t6.closed-j55_T- {
  display: none;
}

/* Vencord */
[style="width: 72px; display: flex;"]:has(.wrapper_ef3116.guilds_c48ade) {
  margin-left: -5px;
  margin-right: 15px;
}
.shiki-btn:last-child {
  margin-right: 5px;
  margin-bottom: 5px;
}
.vc-error-card,
.shc-lock-screen-allowed-users-and-roles-container,
.scroller_ef4a91,
.memberListItem_ec58fe,
.vc-permviewer-perms-list-item,
.shiki-root,
.markup__75297 pre,
.shiki-btn:last-child {
  border-radius: var(--radius);
}
.vc-addon-card,
.vc-notification-root,
.vc-st-modal-content input {
  border-radius: var(--radius) !important;
}
#vc-spotify-player,
.vc-gp-banner {
  border-radius: var(--radius) var(--radius) 0px 0px;
}
[id^="folder-items-"] {
  margin-top: 6px;
  margin-bottom: 6px;
}
[style="width: 71.9943px; display: flex;"] {
  padding-right: 15px;
  margin-left: -5px;
}
.vc-bf-folder-sidebar [class*="expandedFolderBackground-"] {
  background: unset !important;
}
.platform-osx .vc-bf-folder-sidebar {
  margin-top: -22px;
}

/* Replugged */
.replugged-addon-card,
.replugged-updater-item,
#replugged-quickcss-wrapper .cm-editor {
  border-radius: var(--radius);
}
#replugged-quickcss-wrapper .cm-gutters {
  border-radius: var(--radius) 0px 0px var(--radius);
}

/* Create Server */
.container-x8Y1ix {
  border-radius: var(--radius);
}

/* SoundBoard */
.picker__09f65,
.soundButton__6d4ed {
  border-radius: var(--radius);
}

/* Activities */
.poster-iN2kh_,
.activityItem-1Z9CTr,
.activityTag-3C3YK5 {
  border-radius: var(--radius);
}

/* Discover */
.searchBox__56feb,
.card_e90879,
.container_a76561,
.headerImage_a39aa3,
.headerImage-2D5D-v,
.categoryPill-1zjNrr,
.splashContainer_e825f6,
.popout__3f413,
.option__3f413 {
  border-radius: var(--radius);
}
.sidebarContainer__1d6c7 {
  border-radius: var(--radius) 0px 0px var(--radius);
}

/* Invite */
.contentWrapper__9b0f4 {
  border-radius: var(--radius) 0px 0px var(--radius);
}
.inviteSplash__9b0f4 {
  border-radius: 0px var(--radius) var(--radius) 0px;
}

/* App Directory */
.search_aabd24,
.category_d7acc7,
.card_e90143,
.container_d9c848,
.headerBanner_a1eac2,
.category_d169f5,
.list_e0307d,
.commandName_e0307d,
.category_fa8ebf,
.clickable_a97e58,
.card__6faf3 {
  border-radius: var(--radius);
}
.splashImage__6faf3 {
  border-radius: var(--radius) var(--radius) 0px 0px;
}

/* Emoji */
.contentWrapper__08434,
.container_fea832,
.badgeLabel_aeaaeb,
.container__33507,
.gif__2dc39,
.categoryFade_d02962,
.categoryFadeBlurple_d02962,
.contentWrapper_eab878,
.container-3a5mk-,
.container_cc2dff,
.reactors_cc2dff,
.reactionDefault_cc2dff,
.reactionSelected_cc2dff,
.result__2dc39:after,
.popoutContainer__0f481,
.result__2dc39,
.reactionTooltip_b49891 {
  border-radius: var(--radius);
}
.scroller_cc2dff {
  border-radius: var(--radius) 0px 0px var(--radius);
}
.header_c0e32c {
  border-radius: var(--radius) var(--radius) 0px 0px;
}
.emojiPicker_c0e32c {
  border-radius: 0px 0px var(--radius) var(--radius);
}

/* Search */
.searchBar__97492,
.searchResult__02a39 {
  border-radius: var(--radius);
}
.searchFilter_bd8186 {
  border-radius: var(--radius) 0px 0px var(--radius);
}
.searchHeader_f3b986 {
  border-radius: 0px 0px var(--radius) var(--radius);
}

/* Rounded Msg */
.reaction_f8896c,
.reaction__23977,
.mention,
.wrapper_d4fa29,
.wrapper_d5f3cd,
.wrapper_a7c28c,
.wrapper_f7ecac,
.hoverButtonGroup__06ab4,
.burstGlow_f8896c,
.hljs,
.fileWrapper__0ccae.newMosaicStyle_b52bef,
.languageSelector__4d95d,
.wrapperAudio_f316dd.newMosaicStyle_f316dd,
.fileWrapper__0ccae,
.executedCommand_c19a55 .appLauncherOnboardingCommandName_c19a55,
.hoverButtonGroup__06ab4 {
  border-radius: var(--radius);
}
.newMosaicStyle__4d95d .footer__4d95d,
.footer__4d95d,
.footerContainer__44492,
.videoControls_f316dd {
  border-radius: 0px 0px var(--radius) var(--radius);
}
.newMosaicStyle__4d95d .textContainer__4d95d,
.modalTextContainer__4d95d,
.withFooter__44c9a {
  border-radius: var(--radius) var(--radius) 0px 0px;
}
.audioControls_f316dd {
  border-radius: var(--radius) !important;
}
.cozy_c19a55.hasThread_c19a55:after {
  border-bottom-left-radius: var(--radius) !important;
}
.cozy_c19a55.repliedMessage_c19a55:before {
  border-top-left-radius: var(--radius) !important;
}

/* Setting */
.app__160d8 button,
.card__73069:not(.outline__73069),
.connection_c7f964,
.connectContainer_c7f964,
.valuePropContainer-NqrwuR,
.cardIcon__29abc:after,
.cardIcon__29abc:before,
.background_e681d1,
.notDetected_cc46f0,
.nowPlaying_cc46f0,
.membershipDialog-2wAdpQ,
.swatch__2d060,
.saturation__889ee > div,
.saturation__889ee > div > div,
.radioBar__001a7.radioPositionLeft__001a7,
.upsellFooter-1H_OCF,
.card__73069,
.cardWrapper_aae012,
.paymentPane__01014,
.payment_e9cb00,
.expandedInfo_e9cb00,
.inner__02fc8,
.container__5dbf8,
.container__8e680,
.container__5b321,
.row__0624f,
.box_d9914b {
  border-radius: var(--radius);
}
.suggestedColor__713b5 {
  border-radius: 10px;
}
.animatedContainer_f37cb1,
.selectPositionTop__3f413.open__3f413 {
  border-radius: 0px 0px var(--radius) var(--radius);
}
.connectionHeader_c7f964 {
  border-radius: var(--radius) var(--radius) 0px 0px;
}

/* Rounded Embed Msg */
.embed__623de,
.imageWrapper__178ee {
  border-radius: var(--radius);
}

/* Rounded Menu */
.header_f37cb1,
.panels_c48ade,
.container__37e49 {
  border-radius: var(--radius);
}

/* Home Page */
.interactive_bf202d,
.topPill_b3f026 .item_b3f026,
.container__23c08,
.addFriendInputWrapper__72ba7,
.quickswitcher_ac6cb0,
.input_ac6cb0,
.result__71961,
.searchBar__35e86 .searchBarComponent__35e86,
.peopleListItem_cc6179.active_cc6179,
.peopleListItem_cc6179:hover,
.list-3-WAYB,
.itemCard__7e549,
.section__00943:only-child,
.twitchSectionPreview__00943,
.withTagAsButton_b2ca13,
.withTagless_b2ca13,
.jumpButton__45690,
.authBox_dc6abe,
.content__49fc1,
.friend_bbd192,
.tag_fea832,
.contentWrapper__9b0f4:only-child,
.px__82f07.botTag__82f07,
.popout__3f413.popoutPositionTop__3f413,
.selectPositionTop__3f413.open__3f413,
.input__0f084,
.tooltip__382e7,
.reactionTooltip-3IOBwg,
.root__2dbe1,
.toolbar_bba883,
.option__56fec,
.body__00943 {
  border-radius: var(--radius);
}
.avatarWrapper__37e49 {
  border-radius: var(--radius) !important;
}
.card-14SgW5 {
  border-radius: var(--radius) var(--radius) 0px 0px;
}
.navRow-dG-XX8,
.root-2x5M19 > :last-child {
  border-radius: 0px 0px var(--radius) var(--radius);
}

/* Profile */
.profileBadges_f89da9,
.badgeList_ab525a,
.badgeList-2aoHPw {
  background-color: transparent;
}
.role_dfa8b6,
.button_f23d00,
.overlayBackground_c69a7b,
.messageInputContainer_f2c0a8,
.listRow__9d78f,
.accountProfileCard__1fed1,
.background__1fed1,
.userPopoutInner_c69a7b,
.userPopoutInner_c69a7b:before,
.userProfileOuter_c69a7b,
.userProfileOuterThemed_c69a7b,
.userProfileModalInner_c69a7b:before,
.connectedAccountContainer_e6abe8,
.userPopoutOverlayBackground_c69a7b {
  border-radius: var(--radius);
}
.userProfileOuterUnthemed_c69a7b {
  background: none;
  border-radius: var(--radius);
}
.roundedBanner_c3e427,
.bannerSVGWrapper_b32cc2:not(:has([style*="image"])) [style*="background-color"] {
  border-radius: var(--radius) var(--radius) 0px 0px;
}
.content__49fc1.body_c6f1a4.thin__99f8c.scrollerBase__99f8c {
  border-radius: 0px;
}

/* Server */
.side_b3f026 .item_b3f026,
.link__2ea32,
.menu_c1e9c4,
.wrapper__2ea32,
.item_c1e9c4,
.roleRow_a930f1,
.button__201d5,
.previewContainer__981c8,
.colorPickerSwatch__459fb.custom__459fb,
.colorPickerSwatch__459fb.default__459fb,
.customColorPicker_bbc020,
.previewContainer__05e8e,
.memberRow__9a73f,
.memberRow__9a73f,
.tierHeaderWithoutCardBody_f15dca,
.copyInput_fffc15,
.descriptionBox__981f7,
.container__26dff,
.changelog_abe1fa,
.safetyChecklist_eae0ef,
.auditLog__43dab,
.container__3dde2,
.wrapper__44df5,
.container_b962dc,
.fieldBackground_d48a51,
.fieldBackground_d48a51:hover:not(:focus),
.container_d8f25b,
.wrapper_d5f3cd,
.inviteSplash_d5f3cd,
.container-JhuCwn,
.header-1Uy0p6,
.item__001a7,
.optionButtonWrapper__270d7,
.prompt_fe70ca,
.termsFieldBody_fe70ca,
.optionContainer__949ab,
.testimonialHeroContainer__3e7e2,
.upsellPreview_d9161f,
.previewListItem_d9161f,
.error__4cd16,
.developerPortalCtaWrapper_bf485f,
.container__812a7,
.featureCard_bebc5b,
.tierHeaderUnlocked_f15dca,
.settingCard-xZSDjS,
.prompt__5d7c9,
.messagesPopoutWrap__45690,
.messageGroupWrapper__45690,
.container_d9c882,
.container__6764b,
.container_fcf29c,
.stackedBars__74017,
.card-m7VgZ8,
.qualitySettingsContainer-2LjkfM,
.upsellBanner-1tVKtW,
.upsellContainer_c0eeaa,
.checklistContainer-12xGp5,
.card_ea91d1,
.howItWorksContainer_aa72d6,
.guildPopout__51eb2,
.descriptionContainer-2ylKGk,
.messageAttachmentMediaMosaic__67262,
.role_b4b2c3,
.cardContainerWithoutTopIndicator__3efc4,
.roleMessagePreview__3efc4,
.noiseCancellationPopout_e131a9,
.container__2692d,
.profileCard__5d7c9,
.messageContainer__95796,
.channelTextArea__74017,
.item__97e86,
.jumpButton_ed0c8c,
.container-3GP6AV,
.stepContainer-SaPPyG,
.contentPreview-3fWiuC,
.jumpButton__45690,
.buttonInner__34c2c,
.burstGlow__23977,
.upsell_ac65bb,
.addReactButton__34c2c,
.buttonInner__34c2c,
.channelContainer-3YAhb_,
.containerBackground_d4ced7,
.container__9271d,
.contentWrapper_eab878.isBurstReactionPicker_c0e32c,
.editCard_a25a68,
.editCard_a25a68:before,
.triggerMainContainer_b6c6eb,
.keywordsTextArea__6a631,
.collapseable__217b7:before,
.collapseable__217b7,
.textArea_c615b7,
.actionContainer__6446f,
.content__07f91,
.card-8UsK4b,
.simpleItemWrapper__5dac8,
.container__55c99,
.mainCard_f369db,
.userCardInner_c69a7b,
.action_c66e86,
.row_d13feb,
.container_e88f3f,
.container__13b2a,
.mainTableContainer-1olPmq,
.css-19vtg9u-control,
.lastChannel_e4503a.firstChannel_e4503a,
.rem__82f07.botTag__82f07,
.channelTextArea_f75fb0 .scrollableContainer__74017,
.popout__76f04,
.row__76f04,
.container__56cd1,
.message__89466,
.scrollableContainer__74017,
.spamBanner_a2eac3,
.container__65338,
.upload_aa605f,
.button__02a39,
.streamPreview__6da2d,
.previewChannelRowContent_d59199,
.inviteContainer__4d80b,
.container_adb50a,
.previewNotice__60f3f,
.productCard__79d38,
.container__3dc42,
.learnMoreTipContainer__9c6a8,
.tab_d804ff,
.chipletContainerInner__4a25c,
.topicsDropdownBase__0f481,
.container_e97453,
.loadingPopout__58f1c {
  border-radius: var(--radius);
}
.layout__91a9d {
  border-radius: 20px;
  margin-top: 1px;
  margin-bottom: 1px;
}
.header__49fc1,
.tierHeaderLocked_f15dca,
.cardHeader_b44011,
.header__43dab,
.firstChannel_e4503a,
.container_e131a9,
.activityPanel_c48ade,
.upsellContent__4cfe2,
.checklistHeader-3liG7E,
.container__9293f,
.modal_b962dc,
.jumpToPresentBar__0f481,
.disabledButtonWrapper__201d5,
.banner__183e8,
.topicsDropdownHeading__0f481 {
  border-radius: var(--radius) var(--radius) 0px 0px;
}
.footer__49fc1,
.changeDetails__43dab,
.lastChannel-21yyB,
.tierBody_f15dcaC,
.upsellFooter__4cfe2,
.scroller__808a1,
.lastChannel_e4503a,
.threadSuggestionBar__841c8,
.uploadModal_dbca3c .footer_dbca3c,
.tooltipPremiumFooterContainer__7d7fe,
.topicsPillContainer__0f481,
.newTopicsBarContainer__0f481,
.topicsScroller__0f481 {
  border-radius: 0px 0px var(--radius) var(--radius);
}
.headerClickable__43dab,
.callContainer_cb9592 {
  border-radius: var(--radius) !important; /* Fix server log not rounded */
}
.notice__5fd4c {
  border-radius: var(--radius);
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 5px;
}
.guildSidebar_b962dc,
.roundedRow__71c22 td:first-child {
  border-radius: var(--radius) 0px 0px var(--radius);
}
.roundedRow__71c22 td:last-child {
  border-radius: 0px var(--radius) var(--radius) 0px;
}
.newMessagesBar__0f481 {
  border-radius: 0px 0px var(--radius) var(--radius) !important;
}
.formContainer-1zrOWf .title-1v5ZfI {
  border-radius: 0px;
}
.controlButton__1405b > svg > foreignObject {
  mask: none;
}
.channelTextArea_f75fb0 {
  background-color: unset;
}

/* Slash Command */
.outerWrapper_d1405b,
.base__13533,
.optionPill__1464f,
.autocomplete__6b0e0,
.root__49fc1,
.container__6436f,
.select__3f413,
.tooltip_c530da {
  border-radius: var(--radius);
}
.optionPillKey__1464f {
  border-radius: var(--radius) 0px 0px var(--radius);
}
.footer__49fc1 {
  border-radius: 0px 0px var(--radius) var(--radius);
}

/* OAuth */
.oauth2Wrapper_c2b22e {
  border-radius: var(--radius);
}
.footer__3d3b0 {
  border-radius: 0px 0px var(--radius) var(--radius);
}
