/* Compact Mode */
.compact_c19a55 .headerText_c19a55 > .username_c19a55::before {
  content: ''; 
  width: calc(100% + 6px); 
  height: 100%;
  border-radius: 5px;
  background-color: currentColor; 
  opacity: 0.3; 
  position: absolute; 
  top: 0; 
  left: -4px;
  z-index: -1;
}
.compact_c19a55 .headerText_c19a55 > .username_c19a55::after {
  content: ":";
}

/* Cozy Mode */
.cozy_c19a55 .headerText_c19a55 > .username_c19a55::before {
  content: ''; 
  width: calc(100% + 7px); 
  height: 100%;
  border-radius: 5px;
  background-color: currentColor; 
  opacity: 0.3; 
  position: absolute; 
  top: 0; 
  z-index: -1;
  /* repairs left shift*/
  left: -3px;
}
.cozy_c19a55 .headerText_c19a55 > .username_c19a55::after {
  content: ":";
}
/* repairs left shift */
.cozy_c19a55 .headerText_c19a55 > .username_c19a55 {
  margin-left: 3px;
}
