/* Compact Mode */
.c19a557985eb7793-compact .c19a557985eb7793-headerText > .c19a557985eb7793-username::before {
  content: ''; 
  width: calc(100% + 6px); 
  height: 100%;
  border-radius: 5px;
  background-color: currentColor; 
  opacity: 0.3; 
  position: absolute; 
  top: 0; 
  left: -4px;
  z-index: -1;
}
.c19a557985eb7793-compact .c19a557985eb7793-headerText > .c19a557985eb7793-username::after {
  content: ":";
}

/* Cozy Mode */
.c19a557985eb7793-cozy .c19a557985eb7793-headerText > .c19a557985eb7793-username::before {
  content: ''; 
  width: calc(100% + 7px); 
  height: 100%;
  border-radius: 5px;
  background-color: currentColor; 
  opacity: 0.3; 
  position: absolute; 
  top: 0; 
  z-index: -1;
  /* repairs left shift*/
  left: -3px;
}
.c19a557985eb7793-cozy .c19a557985eb7793-headerText > .c19a557985eb7793-username::after {
  content: ":";
}
/* repairs left shift */
.c19a557985eb7793-cozy .c19a557985eb7793-headerText > .c19a557985eb7793-username {
  margin-left: 3px;
}
